@using System.Web.Script.Serialization;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>

<body>
    <div class="main">
        <div class="sidebar">
            <ul class="">
                <li class="nav-item nav-info">
                    <div class="nav-item--info d-flex m-3">
                        <img class="avatar" src="~/Content/images/avatar/@((Session["user"] as ManagerTour.Models.User_information).Image)" />
                        <div class="infor_login">
                            <h3 class="h6">Welcome</h3>
                            <p class="name">@((Session["user"] as ManagerTour.Models.User_information).Name)</p>
                        </div>
                    </div>
                </li>
                <li class="nav-item  m-3">
                    <div class="sidebar_item d-flex align-items-center">
                        <i class="fa-solid fa-house flex-shrink-0"></i>
                        <a class="nav-link sidebar-link" data-id="Home" href="/Home/Index">Home</a>
                    </div>
                </li>


                <li class="nav-item  m-3">
                    <div class="sidebar_item d-flex align-items-center">
                        <i class="fa-regular fa-newspaper flex-shrink-0"></i>
                        <a class="nav-link sidebar-link" data-id="Post" href="/Post/Index">Posts</a>
                    </div>
                </li>

                <li class="nav-item m-3">
                    <div class="sidebar_item d-flex align-items-center">
                        <i class="fa-solid fa-earth-americas flex-shrink-0"></i>
                        <a class="nav-link sidebar-link" data-id="Tour" href="/Tour/Index">Tours</a>
                    </div>
                </li>


                <li class="nav-item  m-3">
                    <input type="checkbox" hidden id="cb_users" />

                    <label for="cb_users" class="sidebar_item d-flex align-items-center siderbar_item-users">
                        <i class="fa-solid fa-users flex-shrink-0"></i>
                        <a class="nav-link flex-shrink-0 sidebar-link" data-id="User" href="/User/Index">Users</a>
                        <i class="fa-solid fa-angle-down"></i>
                    </label>

                    <ul class="forms_users">
                        <li class="nav-item nav-sub-item">
                            <div class="sidebar_item d-flex align-items-center">
                                <span class="flex-shrink-0 sidebar_item-left"></span>
                                <a class="nav-link siebr-link sidebar-link" data-id="Roles" href="/Roles/Index">Roles</a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="nav-item  m-3">
                    <input type="checkbox" hidden id="cb_forms" />

                    <label for="cb_forms" class="sidebar_item-drop_travel sidebar_item d-flex align-items-center">
                        <i class="fa-solid fa-pen-to-square flex-shrink-0"></i>
                        <a class="nav-link flex-shrink-0">Travels</a>
                        <i class="fa-solid fa-angle-down"></i>
                    </label>

                    <ul class="forms_subsidebar">
                        <li class="nav-item nav-sub-item">
                            <div class="sidebar_item d-flex align-items-center m-3">
                                <span class="flex-shrink-0 sidebar_item-left"></span>
                                <a class="nav-link sidebar-link" data-id="AddressTravel" href="/AddressTravel/Index">Address Travel</a>
                            </div>
                        </li>

                        <li class="nav-item nav-sub-item">
                            <div class="sidebar_item d-flex align-items-center m-3">
                                <span class="flex-shrink-0 sidebar_item-left"></span>
                                <a class="nav-link sidebar-link" data-id="TypeTravel" href="/TypeTravel/Index">Type Travel</a>
                            </div>
                        </li>

                        <li class="nav-item nav-sub-item">
                            <div class="sidebar_item d-flex align-items-center m-3">
                                <span class="flex-shrink-0 sidebar_item-left"></span>
                                <a class="nav-link sidebar-link" data-id="Vehicle" href="/Vehicle/Index">Vehicle Travel</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="main-left">
            <div class="header">
                <div class="p-3 d-flex justify-content-between">
                    <input type="checkbox" hidden id="cb_mobile" />
                    <label for="cb_mobile" class="layout_mobile"></label>

                    <label for="cb_mobile" class="sidebar_menu">
                        <i class="fa-solid fa-bars "></i>
                    </label>

                    <div class="header-infor d-flex align-items-center">
                        <input type="checkbox" hidden id="cbdropheader--notify" />

                        @{
                            List<ManagerTour.Models.Tours> TourList = Session["ListTour"] as List<ManagerTour.Models.Tours>;
                        }

                        <label for="cbdropheader--notify" class="d-flex align-items-center watch-notify">
                            <i class="fa-regular fa-envelope notify-mail position-relative">
                                <p class="d-flex align-items-center justify-content-center position-absolute amount-notify">@TourList.Count</p>
                            </i>
                        </label>

                        <div class="notify border">
                            <div class="notifies m-2">
                                @if (TourList.Count > 0)
                                {
                                    foreach (var row in TourList)
                                    {
                                        <a href="~/Tour/Detail?id=@row.Id" class="notify-item d-flex align-items-center position-relative">
                                            <div class="notify-item--image">
                                                <img src="~/Content/images/avatar/@row.User.Image" />
                                            </div>

                                            <div class="notify-item--content">
                                                <h5 class="notify-item--name d-flex align-items-center">@row.User.Name <p class="notify-item--date">(@row.Created_at)</p></h5>
                                                <p class="notify-item--description">@row.Description</p>
                                            </div>

                                            <p class="notify-item--new">New</p>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <i class="fa-regular fa-envelope notify-mail--empty position-absolute position-relative"></i>
                                }
                            </div>
                        </div>


                        <input type="checkbox" hidden id="cbdropheader" />

                        <label for="cbdropheader" class="header-info_name d-flex align-items-center">
                            <img src="~/Content/images/avatar/@((Session["user"] as ManagerTour.Models.User_information).Image)" />
                            <p>@((Session["user"] as ManagerTour.Models.User_information).Name)</p>
                            <i class="fa-solid fa-angle-down"></i>
                        </label>

                        <div class="card header_personally position-absolute">
                            <ul class="navbar d-flex flex-column">
                                <li class="nav-item d-flex align-items-center">
                                    <i class="fa-solid fa-address-card flex-shrink-0"></i>
                                    <a class="nav-link" href="/User/Detail?id=@((Session["user"] as ManagerTour.Models.User_information).Id)">Profile</a>
                                </li>

                                <li class="nav-item d-flex align-items-center">
                                    <i class="fa-solid fa-lock flex-shrink-0"></i>
                                    <a class="nav-link" href="/User/ChangePassword">Change Password</a>
                                </li>

                                <li class="nav-item d-flex align-items-center">
                                    <i class="fa-solid fa-right-from-bracket flex-shrink-0"></i>
                                    <a class="nav-link" href="/Auth/Logout">Log out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                const main = document.querySelector(".main");
                const sidebar_menu = document.querySelector(".sidebar_menu");
                const sidebar = document.querySelector('.sidebar');
                const layout_mobile = document.querySelector('.layout_mobile');

                sidebar_menu.addEventListener("click", function () {
                    if (width < 667) {
                        sidebar.style.width = "220px";
                    }
                    else {
                        if (!main.classList.contains("active")) {
                            main.style.gridTemplateColumns = "0px 1fr";
                            main.classList.add("active");
                        } else {
                            main.style.gridTemplateColumns = "230px 1fr";
                            main.classList.remove("active");
                        }

                    }
                })

                layout_mobile.addEventListener("click", function () {
                    if (width < 667) {
                        sidebar.style.width = "0px";
                    }
                })

                const width = window.innerWidth;

                if (width < 667) {
                    main.classList.add("active");
                }

                //active siderbar link
                let page = location.href;
                let arrPage = page.split('/');
                const sideLinks = document.querySelectorAll('.sidebar-link');

                if (arrPage.length > 3) {
                    page = arrPage[3];
                    sideLinks.forEach(p => {
                        let sidePage = p.getAttribute("data-id");
                        console.log(sidePage);
                        if (sidePage === page) {
                            p.classList.add('active');
                        }
                        else {
                            if (p.classList.contains("active")) {
                                p.classList.remove('active');
                            }
                        }
                    })
                }

                console.log(page);
            </script>

            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
