@model List<ManagerTour.Models.Tours>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Home.cshtml";
}


<link href="~/Content/css/detail_post.css" rel="stylesheet" />
<link href="~/Content/css/tour.css" rel="stylesheet" />

@using (Html.BeginForm("Update", "Tour", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="post_detail form_detail card border-0 tour_detail">
        <h1 class="text-center fw-bold h3 mb-3 pb-3">Detail Tour</h1>

        <input type="text" name="id" value="@Model[0].Id" hidden />

        <div class="mb-3">
            <label class="form-label">Title</label>
            @Html.TextBoxFor(m => Model[0].Title, new { @class = "form-control title_input shadow-non"})
            @Html.ValidationMessageFor(m => Model[0].Title)
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            @Html.TextAreaFor(m => Model[0].Description, new {rows = 10 , @class = "form-control content_input shadow-none" })
            @Html.ValidationMessageFor(m => Model[0].Description)
        </div>

        <div class="d-flex mb-3">
            <div class="w-100 address_tour">
                <label class="form-label">Address Start</label>
                @Html.TextBoxFor(m => Model[0].Address_start, new { @class = "form-control content_input shadow-none", disabled = true })
                @Html.ValidationMessageFor(m => Model[0].Address_start)
            </div>

            <div class="w-100">
                <label class="form-label">Address End</label>
                @Html.TextBoxFor(m => Model[0].Address_end, new { @class = "form-control content_input shadow-none", disabled = true })
                @Html.ValidationMessageFor(m => Model[0].Address_end)
            </div>
        </div>

        <div class="d-flex mb-3">
            <div class="w-100 date_tour">
                <label class="form-label">Date Start</label>
                @Html.TextBoxFor(m => Model[0].Date_start, new { type = "datetime", @class = "form-control content_input shadow-none", disabled = true })
                @Html.ValidationMessageFor(m => Model[0].Date_start)
            </div>

            <div class="w-100">
                <label class="form-label">Date End</label>
                @Html.TextBoxFor(m => Model[0].Date_end, new { type = "datetime", @class = "form-control content_input shadow-none", disabled = true })
                @Html.ValidationMessageFor(m => Model[0].Date_end)
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            @Html.TextBoxFor(m => Model[0].Price_tour, new { type = "number", @class = "form-control content_input shadow-none" })
            @Html.ValidationMessageFor(m => Model[0].Price_tour)
        </div>

        <div class="mb-3">
            <label class="form-label">Detail Price</label>
            @Html.TextAreaFor(m => Model[0].Detail_price_tour, new { rows = 4,  @class = "form-control content_input shadow-none" })
            @Html.ValidationMessageFor(m => Model[0].Detail_price_tour)
        </div>

        <div class="mb-3">
            <label class="form-label">Amount</label>
            @Html.TextBoxFor(m => Model[0].Amount_customer_maximum, new { type = "number", @class = "form-control content_input shadow-none" })
            @Html.ValidationMessageFor(m => Model[0].Amount_customer_maximum)
        </div>

        <div class="d-flex align-items-center mb-3">
            @if (Model[0].Status == 1)
            {
                <label for="cb_status_tour_1" class="rd_status_tour d-flex align-items-center">
                    <input type="radio" checked id="cb_status_tour_1" class="cb_status_tour" value="1" name="status_tour" />
                    Hoạt động
                </label>

                <label for="cb_status_tour_0" class="rd_status_tour d-flex align-items-center">
                    <input type="radio" id="cb_status_tour_0" value="0" class="cb_status_tour" name="status_tour" />
                    Tạm dừng
                </label>
            }
            else
            {
                <label for="cb_status_tour_1" class="rd_status_tour d-flex align-items-center">
                    <input type="radio" id="cb_status_tour_1" value="1" class="cb_status_tour" name="status_tour" />
                    Hoạt động
                </label>

                <label for="cb_status_tour_0" class="rd_status_tour d-flex align-items-center">
                    <input type="radio" checked id="cb_status_tour_0" class="cb_status_tour" value="0" name="status_tour" />
                    Tạm dừng
                </label>
            }
        </div>

        <label class="form-label">Vehicle</label>
        <select class="form-select shadow-none mb-3" name="vehicle" disabled>
            @foreach (var vehicle in @Model[0].ListVehicle)
            {
                if (@Model[0].Vehicle_id == vehicle.Id)
                {
                    <option selected value="@vehicle.Id">@vehicle.Name</option>
                }
                else
                {
                    <option value="@vehicle.Id">@vehicle.Name</option>

                }
            }
        </select>

        <div class="d-flex justify-content-end">
            <a href="~/Tour/Index" class="cancel_update btn">Cancel</a>
            <button type="submit" class="update_detail btn btn-dark">Update</button>
        </div>
    </div>
}
