@model List<ManagerTour.Models.User_information>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Home.cshtml";
}

<link href="~/Content/css/post.css" rel="stylesheet" />
<link href="~/Content/css/user.css" rel="stylesheet" />

<div class="breadcrumb d-flex justify-content-between align-items-center m-4">
    <div class="breadcrumb-item d-flex align-items-center">
        <h1>Dashboard</h1>

        <div class="text-break breadcrumb-item-text">
            <a>User</a>
            <span> / </span>
            <span>Analytic</span>
        </div>
    </div>

    <div class="breadcrumb-date">
        <p>August 1, 2020 - August 31, 2020</p>
    </div>
</div>

<div class="posts users">
    @using (Html.BeginForm("Index", "User", FormMethod.Get))
    {
        <div class="d-flex justify-content-between p-3">
            <div>
                <label class="form-label label_index">Status</label>
                <select class="form-select shadow-none user_select" name="filter">
                    <option value="0" @(ViewBag.filter == "0" ? "selected" : "")>Tất cả</option>
                    <option value="1" @(ViewBag.filter == "1" ? "selected" : "")>Hiệu lực</option>
                    <option value="2" @(ViewBag.filter == "2" ? "selected" : "")>Tạm khóa</option>
                    <option value="3" @(ViewBag.filter == "3" ? "selected" : "")>Online</option>
                    <option value="4" @(ViewBag.filter == "4" ? "selected" : "")>offline</option>
                </select>
            </div>

            <div class="">
                <label class="form-label label_index">Search</label>
                <div class="posts_search user_search d-flex align-items-center position-relative">
                    <input type="text" name="keyword" class="search_input border" value="@ViewBag.keyword" placeholder="Enter keyword search the user..." />
                    <button id="btn_search" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

            </div>
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col" width="100px">Name</th>
                <th scope="col">BirthDay</th>
                <th scope="col">Gender</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Education</th>
                <th scope="col">Role</th>
                <th scope="col">Online/Off</th>
                <th scope="col">Status</th>
                <th scope="col">Feature</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var row in Model)
            {
                <tr>
                    <td scope="row">@row.Id</td>
                    <td>@row.User.Email</td>
                    <td>@row.Name</td>
                    <td>@row.Birth_date</td>
                    <td>
                        @if (row.Gender == 1)
                        {
                            <p class="gender">Nam</p>
                        }
                        else
                        {
                            <p class="gender">Nữ</p>
                        }
                    </td>
                    <td>
                        <p>@row.Address</p>
                    </td>
                    <td>@row.Phone</td>
                    <td><p class="content">@row.Education</p></td>
                    <td>
                        @if (row.User.Role_id == 2)
                        {
                            <p class="role role_user fw-bold">Người dùng</p>
                        }
                        else if (row.User.Role_id == 1)
                        {
                            <p class="role role_admin fw-bold">Quản trị viên</p>
                        }
                    </td>
                    <td>
                        @if (row.Is_login == 1)
                        {
                            <p class="status_login fw-bold status_online">Online</p>
                        }
                        else if (row.Is_login == 0)
                        {
                            <p class="status_login fw-bold status_off">Off</p>
                        }
                    </td>
                    <td>
                        @if (row.User.Status == 1)
                        {
                            <p class="status_account fw-bold status_account_activity">Hiệu lực</p>
                        }
                        else if (row.User.Status == 0)
                        {
                            <p class="status_account fw-bold status_account_drop">Tạm khóa</p>
                        }
                    </td>

                    <td>
                        <div class="user_function d-flex align-items-center">
                            <a class="detail" href="~/User/Detail?id=@row.Id">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>

                            <input type="checkbox" class="cb_removePost" hidden id="cb_removePost_@row.Id" />
                            <label for="cb_removePost_@row.Id" class="lb_removePost position-fixed"></label>

                            <div class="card notify-remove-post position-fixed">
                                <div class="card-body">
                                    <h5 class="fw-bold">Are you want remove this user ?</h5>
                                    <p>Choose <b>Remove</b>, The user will <b>remove forever</b></p>

                                    <div class="d-flex justify-content-end mt-3">
                                        <label for="cb_removePost_@row.Id" class="btn btn-notify-post cancel-remove-post d-flex align-items-center justify-content-center">Cancel</label>

                                        <a href="~/User/Delete?id=@row.Id" class="remove btn-notify-post btn btn-danger">
                                            Remove
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <label for="cb_removePost_@row.Id" class="remove">
                                <i class="fa-regular fa-trash-can"></i>
                            </label>


                            @if (row.User.Status == 1)
                            {
                                <input type="checkbox" class="cb_lockUser" hidden id="cb_lockUser_@row.Id" />
                                <label for="cb_lockUser_@row.Id" class="lb_lockUser position-fixed"></label>

                                <div class="card notify-lock-user position-fixed">
                                    <div class="card-body">
                                        <h5 class="fw-bold">Are you want lock this user ?</h5>
                                        <p>Choose <b>Lock</b>, The user will <b>lock</b></p>

                                        <div class="d-flex justify-content-end mt-3">
                                            <label for="cb_lockUser_@row.Id" class="btn btn-notify-post cancel-remove-post d-flex align-items-center justify-content-center">Cancel</label>

                                            <a href="~/User/Lock?id=@row.User_id" class="remove btn-notify-post btn btn-danger">
                                                Lock
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <label for="cb_lockUser_@row.Id" class="lock">
                                    <i class="fa-solid fa-lock"></i>
                                </label>
                            }
                            else if (row.User.Status == 0)
                            {
                                <input type="checkbox" class="cb_lockUser" hidden id="cb_lockUser_@row.Id" />
                                <label for="cb_lockUser_@row.Id" class="lb_lockUser position-fixed"></label>

                                <div class="card notify-lock-user position-fixed">
                                    <div class="card-body">
                                        <h5 class="fw-bold">Are you want unlock this user ?</h5>
                                        <p>Choose <b>Unlock</b>, The user will <b>unlock</b></p>

                                        <div class="d-flex justify-content-end mt-3">
                                            <label for="cb_lockUser_@row.Id" class="btn btn-notify-post cancel-remove-post d-flex align-items-center justify-content-center">Cancel</label>

                                            <a href="~/User/Unlock?id=@row.User_id" class="remove btn-notify-post btn btn-danger">
                                                Unlock
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <label for="cb_lockUser_@row.Id" class="unlock">
                                    <i class="fa-solid fa-lock-open"></i>
                                </label>
                            }

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination d-flex justify-content-between p-2">
        <p class="pagination-page">
            Showing @if (Model.Count > 0)
            {@Model[0].CurrentPage}  to
            @if (Model.Count > 0)
            {@Model[0].TotalPage} of
            @if (Model.Count > 0)
            {@Model[0].TotalPage} entries
        </p>

        <div class="pagination-item d-flex">
            @using (Html.BeginForm("PreviousPage", "User", FormMethod.Get))
            {
                <button class="pagination-left pagination-arrow">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            }


            @using (Html.BeginForm("NextPage", "User", FormMethod.Get))
            {
                <button class="pagination-right pagination-arrow">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.user_select').change(function () {
            $(this).closest('form').submit();
        });
    });
</script>


