
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Home.cshtml";
}
<link href="~/Content/css/home.css" rel="stylesheet" />

<section class="home m-3">
    <div class="breadcrumb d-flex justify-content-between align-items-center">
        <div class="breadcrumb-item d-flex align-items-center">
            <h1>Dashboard</h1>

            <div class="text-break breadcrumb-item-text">
                <a>home</a>
                <span> / </span>
                <span>Analytic</span>
            </div>
        </div>

        <div class="breadcrumb-date">
            <p>August 1, 2020 - August 31, 2020</p>
        </div>
    </div>

    <div class="home_content">
        <div class="home_content-1">
            <div class="home_content-1--left">
                <canvas id="myChart"></canvas>
            </div>

            <div class="home_content-1--right">
                <div class="card card-users--register">
                    <div class="card-header">
                        <i class="fa-solid fa-users"></i>
                    </div>

                    <div class="card-body">
                        <h3 class="amount">@(ViewBag.listUsers.Count)</h3>
                        <p class="content">User Registrations</p>
                    </div>
                </div>

                <div class="card card-users--login">
                    <div class="card-header">
                        <i class="fa-solid fa-desktop"></i>
                    </div>

                    <div class="card-body">
                        <h3 class="amount">@(ViewBag.totalLogin)</h3>
                        <p class="content">User Login</p>
                    </div>
                </div>

                <div class="card card-users--posts">
                    <div class="card-header">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>

                    <div class="card-body">
                        <h3 class="amount">@(ViewBag.listPosts.Count)</h3>
                        <p class="content">Social Network Post</p>
                    </div>
                </div>

                <div class="card card-users--tour">
                    <div class="card-header">
                        <i class="fa-solid fa-plane-departure"></i>
                    </div>

                    <div class="card-body">
                        <h3 class="amount">@(ViewBag.listTours.Count)</h3>
                        <p class="content">Tour Network Post</p>
                    </div>
                </div>

                <div class="card card-more position-relative">
                    <div class="card-more--content">
                        <h3>Create CRM Reports</h3>
                        <p>Outlines keep you and honest indulging honest.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="home_content-2">
            <div class="row-2">
                <div class="card__user">
                    <h1>New Users <span>(top 7)</span></h1>
                    @foreach (var row in ViewBag.listUsers)
                    {
                        <a class="card__user--items card-items" href="/User/Detail?id=@row.Id">
                            <div class="card__user--item card-item">
                                <img class="card__user--item-image" src="~/Content/images/default.png" alt="">
                                <p class="card-item--name">@row.Name</p>
                                <p>@(row.User.Role_id == 1 ? "Quản trị viên" : "Người dùng")</p>
                                <p>@row.Created_at</p>
                            </div>
                        </a>
                    }

                </div>

                <div class="card__user card_social">
                    <h1>Social Network Post Recent activity</h1>
                    <div class="card__event--items card-items">
                        @foreach (var row in ViewBag.listTours)
                        {
                            <a class="card-item d-flex card-tour" href="/Tour/Detail?id=@row.Id">
                                <i class="fa-solid fa-circle"></i>
                                <div class="card_social_info">
                                    <h5>@row.Created_at</h5>
                                    <p>
                                        @row.Description
                                    </p>
                                </div>
                            </a>
                        }

                    </div>
                </div>

                <div class="card__user card_tour">
                    <h1>Chart Social and Tour Network</h1>

                    <div class="d-flex justify-content-center">
                        <canvas id="myChart_1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var tourListGroup = @Html.Raw(Json.Encode(ViewBag.listToursGroup));
    const ctx = document.getElementById('myChart');
    console.log(tourListGroup);
    let monthTour = [];
    let countTour = [];

    tourListGroup.forEach(p => {
        monthTour.push(p.Month);
        countTour.push(p.Count);
    })


    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: monthTour,
            datasets: [{
                label: 'Count tour of the month',
                data: countTour,
                borderWidth: 1
            }]
        },

        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    //chart pie
    var tourList = @Html.Raw(Json.Encode(ViewBag.listTours));
    var postList = @Html.Raw(Json.Encode(ViewBag.listPosts));

    const amountTour = tourList.length;
    const amountPost = postList.length;


    const pie = document.getElementById('myChart_1');

    const data = {
        datasets: [{
            data: [amountTour, amountPost]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Tour',
            'Social',
        ]
    };

    const config = {
        type: 'pie',
        data: data,
    };


    new Chart(pie, config);

</script>
